@page "/dashboard"
@page "/"


<h1 class="title">Dashboard</h1>


<div class="stat-container">

    <div class="stats-top">
        <div class="stat-section">
            <p class="stat-title">Total Notes</p>
            <p class="stat-figure">42</p>
        </div>

        <div class="stat-section">
            <p class="stat-title">Members</p>
            <p class="stat-figure">6</p>
        </div>
    </div>


</div>

