.settings-container {
    background-color: var(--light);
    border-radius: 15px;
    min-width: 25%;
    padding: 15px;
    box-shadow: var(--shadow);
}


.setting-options {
    text-align: center;
}

.fab {
    position: unset;
    right: unset;
    bottom: unset;
    margin-left: auto;
}


.btn-delete {
    border-radius: 50%;
    background-color: var(--accent1);
    color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    font-weight: bolder;
}